* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header {
    padding: 20px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

header nav .cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav .cabecalho a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 10px;
}

header nav .cabecalho a:hover {
    background-color: #C61066;
    color: white;
}

.informations {
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.informations h1 {
    font-weight: 200;
    font-size: 40px;
}

.informations .ptop {
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 30px;
}

.informations .pbottom {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 15px;
}

.informations .agendar {
    background-color: #C61066;
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    color: white;
}

.informations .agendar:hover {
    padding: 12px;
    font-size: 16px;
    transition: 500ms;
}

.about {
    display: flex;
    flex-direction: column;
}

.about .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.about .title h1 {
    font-weight: 700;
    font-size: 25px;
}

.about .modules {
    background-color: #F4F4F4;
    padding: 10px;
}

.about .modules .module {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 20px;
    padding: 10px;
    color: white;
}


.about ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.about ul li {
    margin-top: 3px;
}

.about ul li:hover {
    font-size: 17px;
}

.job {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.job h1 {
    font-weight: 700;
    font-size: 25px;
    padding: 20px;
}

.job .class-job {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C61066;
    margin: 0 20px;
    padding: 10px;
    color: white;
    margin: 5px 10px;
}

.job .class-job h2 {
    font-size: 20px;
    font-weight: 300;
}

.job .class-job p {
    font-weight: 300;
}

.schedule {
    padding: 100px 100px;
}

.schedule h1 {
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0px;
}

.schedule h2 {
    font-size: 16px;
    font-weight: 100;
    font-family: Arial;
}

.schedule input {
    width: 100%;
    padding: 5px;
    margin-bottom: 11px;
}

.schedule button {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: lighter;
}

footer div {
    background-color: #333333;
    display: flex;
    justify-content: center;

}

footer div h1 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: lighter;
    padding: 20px;
}