* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Roboto';
    background-color: #FAFAFA;
}


header {
    display: flex;
    justify-content: center;
    gap: 842px;
    padding: 32px 0px;
}

#logo {
    height: 40px;
}


header .box-loc {
    display: flex;
    align-items: center;
}

header .box-loc .loc {
    display: flex;
    background-color: #EBE5F9;
    padding: 10px 8px;
    text-wrap: nowrap;
    gap: 4px;
    border-radius: 6px;
    color: #4B2995;
    margin-right: 12px;
    font-size: 14px;
    font-weight: 400;
}

header .box-loc .box-carrinho {
    background-color: #F1E9C9;
    padding: 8px;
    border-radius: 6px;
}

#carrinho {
    height: 22px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 92px;
}

main .sec-left {
    display: flex;
    flex-direction: column;
    width: 578px;
    margin-right: 56px;
}

main .sec-left h1 {
    font-size: 48px;
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
}

main .sec-left .paragrafo {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', regular;
    color: #403937;
}

main .sec-left .icons-section {
    display: flex;
    gap: 40px;
    font-size: 16px;
    margin-top: 66px;
}

main .sec-left .icons-section .box-icons {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

main .sec-left .icons-section .box-icons #icon-main {
    margin-right: 12px;
}

main .sec-left .knowourproduct{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EBC136;
    background-color: #EBC136;
    width: 300px;
    padding: 5px;
    border-radius: 30px;
    margin-top: 30px;
}


main .sec-left .knowourproduct:hover{
    padding: 6px;
    width: 310px;
    background-color: #ebc136f2;
}

main .sec-left .knowourproduct a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    
}

.Coffe-list {
    display: flex;
    flex-direction: column;
    padding: 160px;

.Coffe-list .our-coffe {
    font-size: 32px;
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
}


}
.Coffe-list .list{
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.Coffe-list .list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 310px;
    width: 256px;
    background-color: #F3F2F2;
    border-bottom-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    padding-inline: 20px;
    position: relative;
    padding-top: 120px;
    padding-bottom: 20px;
}


.Coffe-list .list .item .foto {
    position: absolute;
    top: -20px;
}

.Coffe-list .list .item:hover .foto {
    animation: bounceIn 1s;
    animation-iteration-count: infinite;
}

.Coffe-list .list .item .type-coffe{
    display: flex;
    justify-content: center;
    gap: 4px;
}

.Coffe-list .list .item .type {
    display: flex;
    font-size: 10px;
    font-family: 'Roboto', regular;
    font-weight: 700;
    color: #C47F17;
    background-color: #F1E9C9;
    height: 21px;
    width: 81px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}


.Coffe-list .list .item h2 {
    font-size: 20px;
    font-family: 'Baloo 2', cursive;
    color: #403937;
    font-weight: 700;
    margin-top: 16px;
}

.Coffe-list .list .item .description {
    margin-top: 8px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #8D8686;
}

.Coffe-list .list .item .buying {
    display: flex;
    align-items: center;
    margin-top: 33px;
}


.Coffe-list .list .item .buying .simbol {
    font-size: 14px;
    font-family: 'Roboto';
    color: #403937;
    margin-right: 3px;
}

.Coffe-list .list .item .buying .price {
    font-size: 24px;
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    color: #574F4D;
    margin-right: 26px;
}

.Coffe-list .list .item .buying .put-itens {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    background-color: #E6E5E5;
    border-radius: 6px;
    font-size: 16px;
    margin-right: 8px;
}

.Coffe-list .list .item .buying .put-itens img {
    height: 10px;
}

.Coffe-list .list .item .buying .box-carrinho-list {
    background-color: #4B2995;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
